<settings>
  <user>
    <name>userOne</name>
    <color>0xffff00ff</color>
  </user>
  <user>
    <name>playerTwo</name>
    <color>0xff0000ff</color>
  </user>
  <user>
    <name>Player2</name>
    <color>Blue</color>
  </user>
  <user>
    <name>Player1</name>
    <color>Red</color>
  </user>
  <user>
    <name>playerOne</name>
    <color>0xff0000ff</color>
  </user>
</settings>