<settings>
  <user>
    <name>userOne</name>
    <color>Magenta</color>
  </user>
  <user>
    <name>playerTwo</name>
    <color>Red</color>
  </user>
  <user>
    <name>userTwo</name>
    <color>Yellow</color>
  </user>
  <user>
    <name>Player2</name>
    <color>Blue</color>
  </user>
  <user>
    <name>Player1</name>
    <color>Red</color>
  </user>
  <user>
    <name>playerOne</name>
    <color>Blue</color>
  </user>
</settings>